In [1]:
import pandas as pd
from sklearn.neighbors import KNeighborsClassifier
import joblib

In [2]:
titanic = pd.read_csv('data/Titanic-Dataset.csv')
titanic.columns = titanic.columns.str.lower()
titanic = titanic[['survived', 'pclass', 'sex', 'age']]
titanic.dropna(axis=0, inplace=True)
titanic['sex'] = titanic['sex'].replace(['male', 'female'], [0, 1])
titanic.head()

/var/folders/q7/rvw94sbd0yv8ft4056r7p5jr0000gn/T/ipykernel_75836/55289235.py:5: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  titanic['sex'] = titanic['sex'].replace(['male', 'female'], [0, 1])

   survived  pclass  sex   age
0         0       3    0  22.0
1         1       1    1  38.0
2         1       3    1  26.0
3         1       1    1  35.0
4         0       3    0  35.0

In [3]:
# initialisation du model
model = KNeighborsClassifier(n_neighbors=3)

# variable cible
y = titanic['survived']
# les features
X = titanic.drop(['survived'], axis=1)

# entrainement du model
model.fit(X, y)
# affichage du score
print('SCORE', model.score(X, y))

SCORE 0.8725490196078431

In [4]:
# sauvegarde du model
joblib.dump(model, 'models/titanic_case_study.joblib')

['models/titanic_case_study.joblib']

In [5]:
def survie(model, pclass=3, sex=0, age=26):
    x = pd.DataFrame([[pclass, sex, age]], columns=X.columns)
    prediction = model.predict(x)
    probability = model.predict_proba(x)
    if prediction[0] == 1:
        print('Survived')
        print('With', probability[0][0]*100, '% of chance of surviving.')
    else:
        print('Not Survived')
        print('With', probability[0][1]*100, '% of chance of not surviving.')

In [6]:
# test 1
survie(model)

Not Survived
With 0.0 % of chance of not surviving.

In [7]:
# test 2
survie(model, 1, 1, 50)

Survived
With 33.33333333333333 % of chance of surviving.